# Importing Libraries

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np 

import matplotlib.pyplot as plt
%matplotlib inline

import re 
import nltk
from nltk.corpus import stopwords
import string

# Loading DataSet

In [2]:
df = pd.read_csv("NASA.csv")
df.drop(df.columns[[1,2,4,5,6,7,8,9,10,11]], axis=1, inplace=True)
df.rename(columns = {'Unnamed: 0':'Tweet ID'}, inplace = True)
df

       Tweet ID                                              Tweet
0             0  Here's to you, Oppy. ğŸ¥‚\n\nBefore you say #Good...
1             1  Are there rivers and lakes on other worlds? Yo...
2             2  We want to hear from you!\n\nJoin our series o...
3             3  The @NASAExoplanets data hint that WASP-39 b, ...
4             4  .@NASAWebb just scored another first: a full p...
...         ...                                                ...
14105     14105  The supermoon is here! Be sure to bundle up th...
14106     14106  Ever wonder how we track supermoons ğŸŒ• and othe...
14107     14107  A supermoon is coming! Tonight, the full Moon ...
14108     14108  Happy New Year from space! Astronauts aboard t...
14109     14109  â—» Send a robot to Mars\nâ—» Launch @NASA_Astrona...

[14110 rows x 2 columns]

In [3]:
df['len'] = df['Tweet'].str.len()
df

       Tweet ID                                              Tweet  len
0             0  Here's to you, Oppy. ğŸ¥‚\n\nBefore you say #Good...  245
1             1  Are there rivers and lakes on other worlds? Yo...  293
2             2  We want to hear from you!\n\nJoin our series o...  302
3             3  The @NASAExoplanets data hint that WASP-39 b, ...  175
4             4  .@NASAWebb just scored another first: a full p...  189
...         ...                                                ...  ...
14105     14105  The supermoon is here! Be sure to bundle up th...  174
14106     14106  Ever wonder how we track supermoons ğŸŒ• and othe...  140
14107     14107  A supermoon is coming! Tonight, the full Moon ...  255
14108     14108  Happy New Year from space! Astronauts aboard t...  254
14109     14109  â—» Send a robot to Mars\nâ—» Launch @NASA_Astrona...  272

[14110 rows x 3 columns]

In [4]:
df['len'].describe()

count    14110.000000
mean       239.409001
std         75.212052
min          8.000000
25%        208.000000
50%        268.000000
75%        297.000000
max        453.000000
Name: len, dtype: float64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14110 entries, 0 to 14109
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Tweet ID  14110 non-null  int64
 1   Tweet     14110 non-null  object
 2   len       14110 non-null  int64
dtypes: int64(2), object(1)
memory usage: 330.8+ KB

# Conversion of Emoji's to Text

In [6]:
import regex
import emoji
import html.parser as html

emoticons = [':-)', ':)', '(:', '(-:', ':))', '((:', ':-D', ':D', 'X-D', 'XD', 'xD', 'xD', '<3', '</3', ':\*',
                 ';-)',
                 ';)', ';-D', ';D', '(;', '(-;', ':-(', ':(', '(:', '(-:', ':,(', ':\'(', ':"(', ':((', ':D', '=D',
                 '=)',
                 '(=', '=(', ')=', '=-O', 'O-=', ':o', 'o:', 'O:', 'O:', ':-o', 'o-:', ':P', ':p', ':S', ':s', ':@',
                 ':>',
                 ':<', '^_^', '^.^', '>.>', 'T_T', 'T-T', '-.-', '*.*', '~.~', ':*', ':-*', 'xP', 'XP', 'XP', 'Xp',
                 ':-|',
                 ':->', ':-<', '$_$', '8-)', ':-P', ':-p', '=P', '=p', ':*)', '*-*', 'B-)', 'O.o', 'X-(', ')-X']


def split_count(text):
    text = html.unescape(text)
    emoji_list = []
    data = regex.findall(r'\X', text)
    for word in data:
        if any(char in emoji.UNICODE_EMOJI['en'] for char in word):
            emoji_list.append(word)
    for word in text.split(' '):
        if word in emoticons :
            emoji_list.append(word)
    return emoji_list

text = df['Tweet']
emoji_list= [] 
for t in text:
    emoji_list=emoji_list+split_count(t)
    
from collections import Counter
print(Counter(emoji_list))

Counter({'ğŸš€': 907, 'âœ¨': 253, 'ğŸ‘©\u200dğŸš€': 173, 'ğŸ”´': 168, 'ğŸ›°ï¸': 167, 'ğŸ‘¨\u200dğŸš€': 158, 'ğŸ”¥': 151, 'ğŸŒ': 146, 'ğŸ’«': 140, 'ğŸ¤©': 130, 'ğŸ“¸': 105, 'ğŸ“º': 95, 'â˜€ï¸': 92, 'âœ…': 90, 'ğŸŒŸ': 90, 'ğŸ‘€': 89, 'ğŸ”­': 84, 'ğŸŒ•': 82, 'ğŸ¤”': 76, 'ğŸ˜': 68, 'ğŸ˜': 67, 'ğŸ§': 67, 'ğŸ‰': 67, 'ğŸŒŒ': 65, 'â˜„ï¸': 60, 'ğŸŒŠ': 60, 'ğŸš¨': 50, 'âœˆï¸': 49, 'ğŸŒ': 47, 'â¡ï¸': 44, 'ğŸ”¬': 43, 'ğŸ‘‹': 41, 'ğŸš': 41, 'â“': 40, 'ğŸŒ‘': 40, 'âœ”ï¸': 40, 'ğŸŒ”': 39, 'ğŸ¥³': 37, 'ğŸ”Š': 37, 'ğŸ˜‰': 36, 'ğŸ¤–': 36, 'ğŸ“…': 36, 'ğŸ”—': 36, 'ğŸŒ–': 34, 'ğŸ™Œ': 33, 'ğŸ¶': 32, 'â–ªï¸': 32, 'ğŸŒ™': 31, 'ğŸŒ': 31, 'ğŸŒ’': 31, 'â°': 31, 'ğŸ¤“': 30, 'ğŸ™ï¸': 29, 'ğŸ“²': 28, 'â¤ï¸': 26, 'ğŸ‰': 25, 'ğŸ†': 25, 'ğŸ¥': 25, 'â˜ï¸': 24, 'ğŸ“': 24, 'ğŸ“š': 24, 'ğŸŒ': 23, 'ğŸ™': 23, 'ğŸ—“ï¸': 23, 'â„ï¸': 23, 'â­': 23, 'ğŸ§ª': 22, 'ğŸ”µ': 22, 'ğŸ“·': 21, 'ğŸ”': 20, 'ğŸ§‘\u200dğŸš€': 20, 'ğŸ“±': 20, 'ğŸ’¨': 19, 'ğŸ’¥': 19, 'ğŸ¨': 19, 'ğŸ‘': 19, 'ğŸŒ€': 19, 'ğŸŒ ': 19, 'ğŸ”‹': 19, 'ğŸ“¡': 18, 'ğŸ’ª': 18, 'ğŸ’§': 18, 'ğŸ›°': 17, 'ğŸŒ±': 17, 'ğŸˆ': 17, 'â­ï¸': 17, 'ğŸª': 16, 'ğŸ’»': 16, 'ğŸŒ': 16, 'â¬‡ï¸': 16, 'ğŸ‘‰': 16, 'ğŸ—³ï¸': 14, 'âšªï¸': 14, 'ğŸ•’': 14, 'ğŸƒ': 13, 'ğŸ––': 13, 'ğŸ‘©ğŸ½\u200dğŸš€': 13, 'âš™ï¸': 13, 'ğŸ’™': 12, 'ğŸ˜±': 12, 'ğŸ‘': 12, 'âš«': 12, 'ğŸŒƒ': 12, 'ğŸŒš': 12, 'ğŸ¾': 11, 'ğŸ': 11, 'â¤µï¸': 11, 'ğŸ¥°': 11, 'ğŸ‘©ğŸ»\u200dğŸš€': 11, 'â˜‘ï¸': 11, 'ğŸ”': 10, 'ğŸ‘‡': 10, 'ğŸ’¡': 10, 'ğŸ’¯': 10, 'ğŸ“†': 10, 'ğŸ“': 10, 'â˜•': 10, 'ğŸ‘©ğŸ¾\u200dğŸš€': 9, 'ğŸ“¦': 9, 'ğŸ˜‹': 9, 'ğŸµ': 9, 'ğŸŒ¡ï¸': 9, 'ğŸ•³ï¸': 9, 'ğŸ˜®': 9, 'ğŸˆ': 9, 'ğŸ¥—': 9, 'ğŸ‘¨ğŸ¾\u200dğŸš€': 9, 'ğŸŒ—': 9, 'ğŸŒ˜': 9, 'â—»': 9, 'âš¡ï¸': 8, 'ğŸ—£ï¸': 8, 'ğŸ•': 8, 'ğŸ¤³': 8, 'âœ‰ï¸': 8, 'ğŸ“¢': 8, 'ğŸ’': 8, 'ğŸ¤': 8, 'ğŸŠ': 8, 'ğŸ§¬': 8, 'ğŸ‘©ğŸ¼\u200dğŸš€': 8, 'ğŸŒ©ï¸': 8, 'ğŸº': 7, 'ğŸ': 7, 'ğŸŒˆ': 7, 'ğŸŒ¶ï¸': 7, 'ğŸ‘‚': 7, 'ğŸ§': 7, 'ğŸ“§': 7, 'ğŸ¥¶': 7, 'â›½': 7, 'ğŸ”§': 7, 'âš¡': 7, 'ğŸŒ“': 7, 'ğŸ‘©\u200dğŸ”¬': 7, 'ğŸ¤¯': 7, 'ğŸ“°': 7, 'â™¦ï¸': 7, 'ğŸ•–': 7, 'ã€°ï¸': 7, 'ğŸ‘©ğŸ¿\u200dğŸš€': 6, 'ğŸ“£': 6, 'ğŸŒ¸': 6, 'ğŸ‚': 6, 'ğŸ¯': 6, 'ğŸŒ‹': 6, 'ğŸ“©': 6, 'ğŸ¥º': 6, 'â€¼ï¸': 6, 'ğŸ“Š': 6, 'ğŸš¢': 6, 'ğŸ': 6, 'ğŸ¥§': 6, 'ğŸ‘¨ğŸ»\u200dğŸš€': 6, 'ğŸ¥¬': 6, 'â–¶ï¸': 6, 'ğŸ•‘': 6, 'ğŸ‘¨ğŸ½\u200dğŸš€': 6, 'ğŸ”Œ': 6, 'ğŸ§ ': 6, 'ğŸ› ': 6, 'ğŸŒ': 6, 'â–ª': 6, 'ğŸ’Ÿ': 6, 'â˜ºï¸': 5, 'ğŸ—£': 5, 'ğŸ˜¬': 5, 'ğŸ˜Š': 5, 'ğŸŒ¬ï¸': 5, 'ğŸ›«': 5, 'ğŸŸ¢': 5, 'ğŸ—ºï¸': 5, 'â™»ï¸': 5, 'â˜•ï¸': 5, 'ğŸ‘¨\u200dğŸ”¬': 5, 'ğŸª‚': 5, 'ğŸŒ³': 5, 'ğŸ§€': 5, 'ğŸ': 5, 'ğŸ¦': 5, 'ğŸ”¹': 5, 'â¬…ï¸': 5, 'ğŸ„': 5, 'ğŸ› ï¸': 5, 'â˜¢ï¸': 5, 'ğŸš½': 5, 'ğŸ‘©ğŸ½\u200dğŸ”¬': 5, 'ğŸ“': 5, 'â­•ï¸': 5, 'ğŸ™‚': 4, 'âœˆ': 4, 'ğŸ§°': 4, 'ğŸï¸': 4, 'ğŸ‘Œ': 4, 'â™¥ï¸': 4, 'ğŸŒ½': 4, 'ğŸ“¹': 4, 'ğŸ—“': 4, 'ğŸ“–': 4, 'ğŸ’š': 4, 'ğŸ‘¨ğŸ¿\u200dğŸš€': 4, 'ğŸ ': 4, 'ğŸ’•': 4, 'ğŸ§‘ğŸ¾\u200dğŸš€': 4, 'âš›ï¸': 4, 'ğŸ…': 4, 'â›ï¸': 4, 'âœï¸': 4, 'ğŸ³': 4, 'ğŸ’¦': 4, 'â˜„': 4, 'ğŸ‘¶': 4, 'ğŸ“¶': 4, 'â­•': 4, 'ğŸŒ§ï¸': 4, 'âšª': 4, 'ğŸ¬': 4, 'ğŸ”ˆ': 4, 'ğŸ¶': 4, 'ğŸ•·ï¸': 4, 'ğŸ¦…': 4, 'â›½ï¸': 4, 'ğŸ›¡ï¸': 4, 'â„': 4, 'ğŸ’œ': 3, 'ğŸ¼': 3, 'ğŸ””': 3, 'ğŸ†': 3, 'ğŸ«': 3, 'ğŸ¥š': 3, 'ğŸ˜€': 3, 'ğŸŒ®': 3, 'ğŸš—': 3, 'ğŸ‘»': 3, 'ğŸ”œ': 3, 'âœŒï¸': 3, 'â³': 3, 'ğŸ“': 3, 'âœï¸': 3, 'ğŸ¦´': 3, 'ğŸ‘ï¸': 3, 'ğŸ¢': 3, 'ğŸ¥¦': 3, 'â›ˆï¸': 3, 'ğŸ”©': 3, 'ğŸ“': 3, 'ğŸ“»': 3, 'ğŸ§«': 3, 'â—': 3, 'ğŸ˜´': 3, 'ğŸ’¤': 3, 'â•': 3, 'ğŸ•›': 3, 'â¬†ï¸': 3, 'ğŸ¦ ': 3, 'âš ï¸': 3, 'â±ï¸': 3, 'ğŸ”†': 3, 'ğŸ™ŒğŸ¾': 3, 'ğŸ¦¢': 3, 'âŒ›': 3, 'ğŸ²': 3, 'ğŸ•¢': 3, 'ğŸƒ': 3, 'ğŸ•': 3, 'ğŸŒ¹': 3, 'âœ‚ï¸': 3, 'ğŸ• ': 3, 'ğŸ“ˆ': 3, 'âŒ': 3, 'ğŸ›¬': 3, 'â±': 3, 'ğŸ¦†': 3, 'âœ”': 3, 'â›´': 3, 'â˜‘': 3, 'ğŸ˜ƒ': 2, 'â¤': 2, 'ğŸ’\u200dâ™€ï¸': 2, 'ğŸ¤£': 2, 'ğŸ—º': 2, 'ğŸ¤¸': 2, 'ğŸŒ¡': 2, 'ğŸ˜„': 2, 'ğŸ˜Œ': 2, 'ğŸ¤˜': 2, 'ğŸ¥': 2, 'ğŸ§³': 2, 'ğŸ‚': 2, 'ğŸŒªï¸': 2, 'ğŸ­': 2, 'ğŸ¥¼': 2, 'ğŸ–¤': 2, 'ğŸŒ²': 2, 'ğŸ§Š': 2, 'ğŸ¦ˆ': 2, 'ğŸ®': 2, 'ğŸ¥': 2, 'ğŸš§': 2, 'ğŸ”‘': 2, 'ğŸ¦': 2, 'ğŸ˜…': 2, 'ğŸ£': 2, 'âš—ï¸': 2, 'ğŸ½ï¸': 2, 'ğŸ˜': 2, 'ğŸ“Œ': 2, 'ğŸ’Œ': 2, 'ğŸ•¹ï¸': 2, 'âŒ›ï¸': 2, 'ğŸ‘ˆ': 2, 'ğŸ§‘ğŸ»\u200dğŸš€': 2, 'ğŸ¤³ğŸ¾': 2, 'â˜ƒï¸': 2, 'ğŸ”„': 2, 'âš½': 2, 'ğŸŒœ': 2, 'ğŸ’': 2, 'ğŸ”‡': 2, 'ğŸ¤«': 2, 'ğŸ•Ÿ': 2, 'ğŸ•“': 2, 'ğŸ••': 2, 'â›°ï¸': 2, 'ğŸ•µï¸\u200dâ™‚ï¸': 2, 'ğŸ¦‹': 2, 'ğŸŒ¤ï¸': 2, 'ğŸ¼': 2, 'ğŸ–¥ï¸': 2, 'ğŸ¤': 2, 'ğŸŒ´': 2, 'ğŸ™': 2, 'ğŸª': 2, 'ğŸŒ¿': 2, 'ğŸŒ¾': 2, 'ğŸ¡': 2, 'ğŸ•¤': 2, 'ğŸ›': 2, 'ğŸ•š': 2, 'ã€°': 2, 'ğŸšœ': 2, 'ğŸ§¹': 2, 'ğŸ…': 2, 'ğŸ›©ï¸': 2, 'ğŸ‘¨\u200dâœˆï¸': 2, 'ğŸ¥˜': 2, 'ğŸ•º': 2, 'ğŸŒ›': 2, 'ğŸ“‹': 2, 'ğŸ¸': 2, 'ğŸ’': 2, 'ğŸš¦': 2, 'ğŸ›': 2, 'ğŸ’–': 2, 'ğŸŒ…': 2, 'ğŸ': 2, 'ğŸ”¤': 2, 'ğŸ‘·ğŸ¾\u200dâ™€ï¸': 2, 'ğŸ‘©ğŸ¿\u200dğŸ”§': 2, 'ğŸ’': 2, 'â™»': 2, 'ğŸ†™': 2, 'â˜ï¸': 2, 'ğŸ¥‚': 1, 'ğŸ«': 1, 'ğŸ¤¹': 1, 'ğŸ•¸ï¸': 1, 'ğŸ¾': 1, 'ğŸŒ«': 1, 'ğŸ‘¾': 1, 'ğŸ§': 1, 'ğŸ¦¸': 1, 'ğŸ¥‘': 1, 'ğŸ’': 1, 'ğŸ‘\u200dğŸ—¨': 1, 'â¬‡': 1, 'Â©': 1, 'ğŸ˜': 1, 'ğŸŸ¥': 1, 'ğŸ•·': 1, 'ğŸ¬': 1, 'ğŸ’¼': 1, 'ğŸš°': 1, 'ğŸ¤': 1, 'ğŸ‹ï¸\u200dâ™‚ï¸': 1, 'ğŸ”–': 1, 'ğŸ“›': 1, 'ğŸ““': 1, 'ğŸ§‘\u200dğŸ«': 1, 'â˜®ï¸': 1, 'ğŸ’…': 1, 'ğŸ‘©ğŸ»\u200dğŸ«': 1, 'ğŸ‘©ğŸ¾\u200dğŸ”§': 1, 'ğŸ‘©ğŸ½\u200dğŸ’»': 1, 'ğŸ‘©ğŸ¼\u200dğŸ’¼': 1, 'ğŸŸ': 1, 'ğŸŸ¡': 1, 'ğŸ”“': 1, 'ğŸ¦»': 1, 'ğŸ”¦': 1, 'ğŸª¨': 1, 'âœ‹': 1, 'ğŸ¦„': 1, 'ğŸ£': 1, 'âš¾': 1, 'ğŸ‘©ğŸ»\u200dğŸ”¬': 1, 'ğŸ‘¨ğŸ¿\u200dğŸ«': 1, 'ğŸ‘©ğŸ¼\u200dğŸ”¬': 1, 'ğŸ’—': 1, 'â©': 1, 'ğŸ€': 1, 'ğŸ˜‚': 1, 'ğŸ©º': 1, 'ğŸ‘¨ğŸ¿\u200dâš•ï¸': 1, 'ğŸ“½ï¸': 1, 'ğŸ“•': 1, 'ğŸ’‡\u200dâ™‚ï¸': 1, 'ğŸ²': 1, 'ğŸ‘Š': 1, 'ğŸš©': 1, 'ğŸ‘¨ğŸ½\u200dğŸ³': 1, 'ğŸ˜¯': 1, 'ğŸ°': 1, 'â›µ': 1, 'ğŸ§£': 1, 'ğŸ¥©': 1, 'ğŸ”': 1, 'ğŸ›': 1, 'ğŸ–': 1, 'ğŸ˜®\u200dğŸ’¨': 1, 'ğŸ¤ï¸': 1, 'ğŸ“œ': 1, 'â‰ï¸': 1, 'ğŸ§‘ğŸ¼\u200dğŸš€': 1, 'ğŸ§‘ğŸ¿\u200dğŸš€': 1, 'ğŸ˜ˆ': 1, 'ğŸ™ï¸': 1, 'ğŸš´\u200dâ™€ï¸': 1, 'ğŸ': 1, 'â¬œ': 1, 'ğŸ¥ª': 1, 'ğŸ§¸': 1, 'ğŸ‘©\u200dğŸ’»': 1, 'ğŸ‘¨\u200dğŸ’»': 1, 'ğŸ‘ŒğŸ½': 1, 'ğŸ’': 1, 'ğŸŒ­': 1, 'ğŸ™ŒğŸ½': 1, 'ğŸ––ğŸ½': 1, 'ğŸ»': 1, 'ğŸ': 1, 'ğŸš¶\u200dâ™€ï¸': 1, 'ğŸ˜‡': 1, 'ğŸ¥': 1, 'ğŸ”™': 1, 'â¤µ': 1, 'ğŸ“”': 1, '<3': 1, 'ğŸ“': 1, 'ğŸ¦¾': 1, 'ğŸŒ»': 1, 'ğŸ‘¨ğŸ¼\u200dğŸš€': 1, 'ğŸ¤—': 1, 'ğŸ«': 1, 'ğŸ¤ª': 1, 'ğŸ§µ': 1, 'ğŸ”‰': 1, 'ğŸ': 1, 'ğŸ ': 1, 'ğŸ–': 1, 'ğŸ¤¨': 1, 'ğŸ›¹': 1, 'â˜ï¸': 1, 'ğŸ“’': 1, 'ğŸ‘¥': 1, 'ğŸŒ·': 1, 'ğŸŸ ': 1, 'ğŸ‘‘': 1, 'ğŸ•£': 1, 'ğŸ•—': 1, 'ğŸ”¢': 1, 'ğŸ¦': 1, 'ğŸ§™': 1, 'ğŸ•': 1, 'ğŸ“ƒ': 1, 'ğŸ˜¤': 1, 'ğŸ¥¤': 1, 'ğŸ¤œ': 1, 'ğŸŒ': 1, 'ğŸ‘ğŸ¼': 1, 'ğŸ•¦': 1, 'ğŸŒ¨ï¸': 1, 'ğŸ™‰': 1, 'ğŸ˜­': 1, 'ğŸ¢': 1, 'ğŸ‘¸': 1, 'ğŸ‘¨\u200dğŸ“': 1, 'ğŸ†’': 1, 'ğŸ™„': 1, 'ğŸŒ†': 1, 'ğŸ§®': 1, 'ğŸŸï¸': 1, 'ğŸ¦‰': 1, 'ğŸ™‡ğŸ¾\u200dâ™‚ï¸': 1, 'ğŸ™‡ğŸ½\u200dâ™€ï¸': 1, 'ğŸ§­': 1, 'ğŸ˜’': 1, 'ğŸº': 1, 'ğŸ˜µ': 1, 'ğŸ™…\u200dâ™€ï¸': 1, 'ğŸ™…\u200dâ™‚ï¸': 1, 'ğŸ¦•': 1, 'âš«ï¸': 1, 'ğŸ’€': 1, 'ğŸ˜»': 1, 'ğŸï¸': 1, 'ğŸ‘£': 1, 'ğŸ': 1, 'ğŸ¥•': 1, 'ğŸ‘©ğŸ¾\u200dğŸ«': 1, 'âºï¸': 1, 'ğŸ›ï¸': 1, 'ğŸ’›': 1, 'ğŸ’ƒ': 1, 'ğŸ¤³ğŸ½': 1, 'ğŸ•³': 1, 'â†”ï¸': 1, 'ğŸ’\u200dâ™‚ï¸': 1, 'ğŸ•™': 1, 'ğŸ‘·': 1, 'ğŸ‘¨\u200dğŸ‘©\u200dğŸ‘§\u200dğŸ‘¦': 1, 'ğŸ™…': 1, 'ğŸ˜²': 1, 'â›ºï¸': 1, 'ğŸ‘©\u200dğŸ“': 1, 'ğŸ”²': 1, 'ğŸ¦€': 1, 'ğŸ’Š': 1, 'âš”ï¸': 1, 'ğŸ›': 1, 'ğŸŒ¶': 1, 'ğŸ’': 1, 'ğŸ§¤': 1, 'ğŸ›©': 1, 'ğŸ‘©ğŸ¾\u200dğŸš’': 1, 'ğŸŒº': 1, 'âš–ï¸': 1, 'ğŸ“„': 1, 'âš–': 1, 'â›ˆ': 1, 'ğŸš‚': 1, 'â›°': 1, 'ğŸŒ¨': 1, 'ğŸ˜¢': 1, 'ğŸ”': 1, 'â˜€': 1, 'ğŸ©': 1, 'ğŸŒ§': 1, 'â›„ï¸': 1, 'ğŸ§': 1, 'ğŸ¬': 1, 'ğŸ—': 1, 'ğŸ ': 1, 'ğŸ˜œ': 1, 'ğŸ•': 1, 'âš ': 1, 'ğŸ”ï¸': 1, 'ğŸ•ºğŸ»': 1, 'ğŸ–Œ': 1, 'âœ–ï¸': 1, 'ğŸŠ': 1, 'ğŸŒ‡': 1, 'â²ï¸': 1, 'ğŸ‘ƒ': 1, 'ğŸ•µğŸ½\u200dâ™‚ï¸': 1, 'ğŸ•µ': 1, 'ğŸ—»': 1})

In [7]:
import re
from emot.emo_unicode import UNICODE_EMOJI
def convert_emojis(text):
    for emot in UNICODE_EMOJI:
        text = text.replace(emot, "_".join(UNICODE_EMOJI[emot].replace(",","").replace(":","").split()))
    return text

df['Tweet'] = df['Tweet'].apply(lambda x: convert_emojis(x))
df

       Tweet ID                                              Tweet  len
0             0  Here's to you, Oppy. clinking_glasses\n\nBefor...  245
1             1  Are there rivers and lakes on other worlds? Yo...  293
2             2  We want to hear from you!\n\nJoin our series o...  302
3             3  The @NASAExoplanets data hint that WASP-39 b, ...  175
4             4  .@NASAWebb just scored another first: a full p...  189
...         ...                                                ...  ...
14105     14105  The supermoon is here! Be sure to bundle up th...  174
14106     14106  Ever wonder how we track supermoons full_moon ...  140
14107     14107  A supermoon is coming! Tonight, the full Moon ...  255
14108     14108  Happy New Year from space! Astronauts aboard t...  254
14109     14109  white_medium_square Send a robot to Mars\nwhit...  272

[14110 rows x 3 columns]

# Preprocessing The Data

In [8]:
df.isnull().any()

Tweet ID    False
Tweet       False
len         False
dtype: bool

In [9]:
df['dup'] = df.duplicated(subset=None, keep='first')
del df['dup']

In [10]:
def lower_text(text):
    text = text.lower()
    return text
df['Tweet'] = df['Tweet'].apply(lambda x: lower_text(x))
df

       Tweet ID                                              Tweet  len
0             0  here's to you, oppy. clinking_glasses\n\nbefor...  245
1             1  are there rivers and lakes on other worlds? yo...  293
2             2  we want to hear from you!\n\njoin our series o...  302
3             3  the @nasaexoplanets data hint that wasp-39 b, ...  175
4             4  .@nasawebb just scored another first: a full p...  189
...         ...                                                ...  ...
14105     14105  the supermoon is here! be sure to bundle up th...  174
14106     14106  ever wonder how we track supermoons full_moon ...  140
14107     14107  a supermoon is coming! tonight, the full moon ...  255
14108     14108  happy new year from space! astronauts aboard t...  254
14109     14109  white_medium_square send a robot to mars\nwhit...  272

[14110 rows x 3 columns]

In [11]:
def remove_html_tags(text):
    html=re.compile(r'<.*?>') 
    text = html.sub(r'',text)
    return text
df['Tweet'] = df['Tweet'].apply(lambda x: remove_html_tags(x))
df

       Tweet ID                                              Tweet  len
0             0  here's to you, oppy. clinking_glasses\n\nbefor...  245
1             1  are there rivers and lakes on other worlds? yo...  293
2             2  we want to hear from you!\n\njoin our series o...  302
3             3  the @nasaexoplanets data hint that wasp-39 b, ...  175
4             4  .@nasawebb just scored another first: a full p...  189
...         ...                                                ...  ...
14105     14105  the supermoon is here! be sure to bundle up th...  174
14106     14106  ever wonder how we track supermoons full_moon ...  140
14107     14107  a supermoon is coming! tonight, the full moon ...  255
14108     14108  happy new year from space! astronauts aboard t...  254
14109     14109  white_medium_square send a robot to mars\nwhit...  272

[14110 rows x 3 columns]

In [12]:
def remove_tags(text):
    text = re.sub(r"http\S+", "",text)
    return text
df['Tweet'] = df['Tweet'].apply(lambda x:remove_tags(x))
df

       Tweet ID                                              Tweet  len
0             0  here's to you, oppy. clinking_glasses\n\nbefor...  245
1             1  are there rivers and lakes on other worlds? yo...  293
2             2  we want to hear from you!\n\njoin our series o...  302
3             3  the @nasaexoplanets data hint that wasp-39 b, ...  175
4             4  .@nasawebb just scored another first: a full p...  189
...         ...                                                ...  ...
14105     14105  the supermoon is here! be sure to bundle up th...  174
14106     14106  ever wonder how we track supermoons full_moon ...  140
14107     14107  a supermoon is coming! tonight, the full moon ...  255
14108     14108  happy new year from space! astronauts aboard t...  254
14109     14109  white_medium_square send a robot to mars\nwhit...  272

[14110 rows x 3 columns]

In [13]:
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["Tweet"] = df["Tweet"].apply(lambda text: remove_punctuation(text))
df

       Tweet ID                                              Tweet  len
0             0  heres to you oppy clinkingglasses\n\nbefore yo...  245
1             1  are there rivers and lakes on other worlds you...  293
2             2  we want to hear from you\n\njoin our series of...  302
3             3  the nasaexoplanets data hint that wasp39 b aka...  175
4             4  nasawebb just scored another first a full prof...  189
...         ...                                                ...  ...
14105     14105  the supermoon is here be sure to bundle up the...  174
14106     14106  ever wonder how we track supermoons fullmoon a...  140
14107     14107  a supermoon is coming tonight the full moon wi...  255
14108     14108  happy new year from space astronauts aboard th...  254
14109     14109  whitemediumsquare send a robot to mars\nwhitem...  272

[14110 rows x 3 columns]

In [14]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["Tweet"] = df["Tweet"].apply(lambda text: remove_stopwords(text))
df

       Tweet ID                                              Tweet  len
0             0  heres oppy clinkingglasses say goodnightoppy l...  245
1             1  rivers lakes worlds bet like earth saturnâ€™s mo...  293
2             2  want hear join series virtual inperson meeting...  302
3             3  nasaexoplanets data hint wasp39 b aka bocaprin...  175
4             4  nasawebb scored another first full profile ato...  189
...         ...                                                ...  ...
14105     14105  supermoon sure bundle lead â€œpackâ€ outside view...  174
14106     14106  ever wonder track supermoons fullmoon lunar ev...  140
14107     14107  supermoon coming tonight full moon near closes...  255
14108     14108  happy new year space astronauts aboard spacest...  254
14109     14109  whitemediumsquare send robot mars whitemediums...  272

[14110 rows x 3 columns]